# <font color='red'> Cohort 04 - SeekhnaSeekho Online Python Training </font>

ctrl + enter (Execute cell and remains in the same cell)

shift + enter (Execute cell and moves to the same cell)

shift + tab (Access signature)

## print (Statement or Function, whatever you like)

In [11]:
print("Bilal"      ,     567 ,      "Ali" ,        "ABCD", sep=' *** ')

Bilal *** 567 *** Ali *** ABCD

In [12]:
print("Bilal" ,  567 , "Ali" , "ABCD")

Bilal 567 Ali ABCD

In [15]:
print("Bilal" ,  567 , "Ali" , "ABCD" , end=' --- ')
print('NEW LINE')
print('Third Line')

Bilal 567 Ali ABCD --- NEW LINE
Third Line

## Commenting

In [1]:
# This is a single line comment

In [2]:
"""
This is a comment 
consisting of mutltiple lines
"""

'\nThis is a comment \nconsisting of mutltiple lines\n'

In [3]:
a = 5    # variable a is having value of 5

## DataTypes

In [ ]:
5                # integer -> int      --> Activity: Find range of int
10.2             # float or double     --> Activity: Find range of float and double
True             # boolean -> bool      
"Bilal"          # String -> str       --> Activity: Find range of str
'b'              # String -> str 
5e^-15           # Shorthand for exponential form

Python is an untyped language. 

Python: a = 5 (a is an integer)                 
C++: int a = 5

## Variable and Naming Conventions

In [1]:
var = "Bilal"

first_name = "Muhammad"
last_name = "Bilal"

firstNameAndLastName = "Muhammad"
lastName = "Bilal"

print(var)

Bilal

## What or what cannot be a variable name?

In [ ]:
1var (a variable name cannot start with a number)
_var (possible)
&var (not possible)

## Code Snippet and Task

In [ ]:
var1 = 95
var2 = 83
var3 = 77

# You need total marks as well

average = (var1 + var2 + var3) / 3

# Task: Calculate your percentage

print("My Average is: ", average)

In [4]:
var1 = 95
var2 = 65
var3 = 79

total_marks = 300
obtained_marks = var1 + var2 + var3

print(obtained_marks)
# Task: Calculate your percentage
percentage = (obtained_marks / total_marks) * 100

print("My Percentage is: ", percentage)

239
My Percentage is:  79.66666666666666

## Datatypes Compatibility

In [7]:
print(3 + 4)
print(3.0 + 4)
print(3 * 4)
print(3 / 4)

7
7.0
12
0.75

In [11]:
print(3 + True)  # True means 1
print(3.5 + False) # False means 0

4
3.5

In [17]:
print("Bilal " * 3)

Bilal Bilal Bilal

## Operators

In [23]:
print(5 / 3)    # simple division
print(5 // 3)   # floor division

1.6666666666666667
1

In [28]:
print(True and False)
print(True or False)

False
True

In [31]:
print(5 > 4)
print(5 < 4)
print(5 >= 5)
print(5 <= 4)

True
False
True
False

In [37]:
b = 3
b -= 1  # 2
b += 1  # 3
b *= 1  # 3
b /= 1  # 3
print(b)

3.0

In [42]:
c = 5   # = is assignment operator
print(c * c * c * c * c)

3125

In [47]:
print(c ** 5)

3125

In [50]:
print(9 % 3) # Modulo operator
print(9 % 2)
print(8 % 2)

0
1
0

In [54]:
print(5 == 6)
print(5 == 5)

False
True

In [57]:
print(5 != 6)
print(5 != 5)

True
False

In [ ]:
# Task1: print a string stating your name 15 times

""" Task2: Take 2 strings, store them in different variables; 
    then try to concatenate and show result. """

""" Task3: Take 2 variables integers, divide them and store in a 3rd variable, 
    -15 from 3rd variable. 
    Then divide again with 5 but answer must be an integer. """