### Nested Statements and Looping

In [1]:
a = 8

if (8 % 2 == 0):
    print("Even")
else:
    print("Odd")

Even

In [4]:
for i in range(5):
    for j in range(10):
        print(str(i) + " x " + str(j) + " = " + str(i * j))

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [3]:
dic = {'a' : 400, 'b' : 100}

for i in dic.values():
    print(i)

400
100

### User Defined Functions

In [9]:
def summation(a , b):   # Function definition --> Parameters
    c = a + b 
    d = c * 3
    return d

In [11]:
var = summation(5 , 3)    # Function Calling  -->  Arguments

In [12]:
var

24

In [13]:
var2 = summation('Bilal', ' Awan')

In [14]:
var2

'Bilal AwanBilal AwanBilal Awan'

#### Functions without Parameters

In [1]:
def take_some_input():
    var = input("Enter a name : ")
    length = len(var)
    return length

In [2]:
result = take_some_input()

Enter a name : Bilal

In [3]:
result

5

In [4]:
def fun(lst, dic):
    var = input("Enter your desired key name : ")
    dic[var] = lst
    return dic

In [5]:
dictionary = fun([1, 2, 3, 4], {'Key1' : 50000})

Enter your desired key name : Key2

In [6]:
dictionary

{'Key1': 50000, 'Key2': [1, 2, 3, 4]}

In [7]:
def fun2(parent, child, parent_len, child_len):
    for i in range(parent_len):
        parent.append(child)
    return parent

In [8]:
par = [1,2,3]
chi = ['Bilal', 'Ali', 'Aiman']

res = fun2(par, chi, len(par), len(chi))

In [9]:
res

[1,
 2,
 3,
 ['Bilal', 'Ali', 'Aiman'],
 ['Bilal', 'Ali', 'Aiman'],
 ['Bilal', 'Ali', 'Aiman']]

#### Function with Default Value Parameters

In [13]:
def new_function(par1, par3, par2 = 100):
    if (par1 > par2):
        par3 = par3 + 199
    elif (par2 > par3):
        par3 = par3 + 99
    else:
        par3 -= 100
        
    return par3

In [14]:
resulted = new_function(par1 = 5, par2 = 3, par3 7)

In [15]:
resulted

102